<div class="photos-container">


    <div class="para">
        <h1>Templates view</h1>
    </div>

    <div class="newtemp"> <button type="button" class="btn btn-primary " routerLink="/createTemp">Add New</button>
    </div>


    <div class="wrapper">
        <div class="photo"><img
                src="https://www.seekpng.com/png/small/184-1848486_facebook-profile-picture-frame-png.png"
                alt=""><i class="material-icons editicon" routerLink="/edited">edit_off</i>
            <i class="material-icons deleteicon">delete</i>
        </div>

        <div class="photo"><img
                src="https://www.seekpng.com/png/small/184-1848486_facebook-profile-picture-frame-png.png"
                alt=""><i class="material-icons editicon" routerLink="/edited">edit_off</i>
            <i class="material-icons deleteicon">delete</i>
        </div>
        <div class="photo"><img
                src="https://www.seekpng.com/png/small/184-1848486_facebook-profile-picture-frame-png.png"
                alt=""><i class="material-icons editicon" routerLink="/edited">edit_off</i>
            <i class="material-icons deleteicon">delete</i>
        </div>
        <div class="photo"><img
                src="https://www.seekpng.com/png/small/184-1848486_facebook-profile-picture-frame-png.png"
                alt=""><i class="material-icons editicon" routerLink="/edited">edit_off</i>
            <i class="material-icons deleteicon">delete</i>
        </div>
        <div class="photo"><img
                src="https://www.seekpng.com/png/small/184-1848486_facebook-profile-picture-frame-png.png"
                alt=""><i class="material-icons editicon" routerLink="/edited">edit_off</i>
            <i class="material-icons deleteicon">delete</i>
        </div>
        <div class="photo"><img
                src="https://www.seekpng.com/png/small/184-1848486_facebook-profile-picture-frame-png.png"
                alt=""><i class="material-icons editicon" routerLink="/edited">edit_off</i>
            <i class="material-icons deleteicon">delete</i>
        </div>
    </div>
</div>