<div class="view-container">
    <p>Filters Selection</p>

    <div class="wrapper">
        <div class="photo" routerLink="/usefilter"><img
                src="https://www.freepnglogos.com/uploads/youtube-logo-transparent-10.png" alt="">
            <p>Filter #1</p>
        </div>
        <div class="photo" routerLink="/usefilter"><img
                src="https://muwuzzuf.com/logos/1iBlTreUbc7Mt2WCoSatNwf2T1nMgl1K0asibmMa.png" alt="">
            <p>Filter #2</p>
        </div>
        <div class="photo" routerLink="/usefilter"><img
                src="https://media-exp1.licdn.com/dms/image/C4D0BAQG3bbfFEpzR3g/company-logo_200_200/0/1625774903524?e=2159024400&v=beta&t=mVedcGRnW740_ivxLLM2N3uDp6Ltw5CULW-G3tIlkIw"
                alt="">
            <p>Filter #3</p>
        </div>


    </div>
</div>









<div style="margin-top: 150px;"><img src="{{images[0].previewImage}}" >
</div>